[2018-10-03 08:11] sudz123 opened #1 "Need to add Contributing.md"

[2018-10-03 08:13] sudz123 opened #2 "Need to add more pages to the website"
Create a new page containing details of you and add a button on the main page which links it.

[2018-10-03 08:18] morgsmccauley commented on #1
I'll grab this 👍

[2018-10-03 08:29] sudz123 opened #5 "Add an images folder in the src which will host all the images."
Make sure it is in a folder with a relevant name.

[2018-10-03 08:30] sudz123 opened #6 "Add more points in the Readme.md"
Currently the readme.md looks bland. Lets make it more informative.

[2018-10-03 08:31] tushar-nitave commented on #5
Taken.

[2018-10-03 08:33] Timtech4u commented on #6
On this @sudz123

[2018-10-03 08:49] sudz123 commented on #5
#10 addresses this, how about you make it better, with a few cool images about open-source which we can add as the website background?

[2018-10-03 08:49] #5 closed

[2018-10-03 08:52] sudz123 opened #13 "Someone add my name and Linkedin link in the contributors.md"

[2018-10-03 08:52] mufti1 commented on #6
i will take it bro

[2018-10-03 08:53] Sazazezer commented on #13
I'll take this.

[2018-10-03 08:56] akshatah33 commented on #13
Please specify your Linkedin account link

[2018-10-03 09:00] sudz123 commented on #1
Contributing.md looks something like [this](https://github.com/sympy/sympy/blob/master/CONTRIBUTING.md)

[2018-10-03 09:00] mufti1 commented on #1
check my pull request bro

[2018-10-03 09:05] Sazazezer commented on #13
Ah, i misunderstood. I thought you wanted me to add Your name to the contributors list.

[2018-10-03 09:08] Nerph commented on #13
As far as I understood he wants his name added to the Contributors.md file with a link to his linkedin profile. At least that's what I understood...

[2018-10-03 09:09] Sazazezer commented on #13
That's what i did. I've just done both now. Add mine and his.

[2018-10-03 09:14] sudz123 opened #17 "Tell people how to run the html pages."
Add something to the readme(I am expecting pictures) of how to open the page locally and make it work. Basically tell them to use a browser.

[2018-10-03 09:16] sudz123 opened #19 "We need a code of conduct!"
After all humans fight like animals if there are no rules

[2018-10-03 09:18] mufti1 commented on #2
#21

[2018-10-03 09:18] mufti1 commented on #2
check my PR bro

[2018-10-03 09:34] mufti1 commented on #17
added

[2018-10-03 09:35] sudz123 commented on #19
sudarshan.kamath97@gmail.com , whoever submits a better PR first, gets in.

[2018-10-03 09:35] #19 closed

[2018-10-03 09:41] sudz123 opened #28 "Need a Halloween page!"
Well Halloween is coming up at the month end. Lets add a page through a link in the home.html. Make sure it has some description and a few spooky images.

[2018-10-03 09:47] #1 closed

[2018-10-03 09:51] sudz123 opened #30 "The home page images have varying resolution."
Some basic html, css should solve this. Make the images span the entire page.

[2018-10-03 09:53] sudz123 opened #31 "Home page needs a menubar"
Add a title saying "Happy Hacking". Anything more is welcome.

[2018-10-03 10:00] parthpandyappp commented on #6
I would like to contribute to this :)

[2018-10-03 10:04] yurichandra commented on #28
Is there any guide about html page that i could workin on?

[2018-10-03 10:06] sudz123 commented on #28
You have complete freedom. Make it spooky. Google what you don't know. Add a link on the home page

[2018-10-03 10:09] yurichandra commented on #28
I'll doing it.

[2018-10-03 10:16] linosorice commented on #30
I'm on it

[2018-10-03 10:19] ferdhika31 commented on #31
Can I install bootstrap for your menubar? :grinning:

[2018-10-03 10:36] sudz123 commented on #31
Everyone has complete freedom to do whatever you like. The PR which has better code and has been submitted first will be accepted. Make sure you reference the issue in the PR.

[2018-10-03 10:41] darshan934 commented on #17
can I work on this?

[2018-10-03 10:50] parthpandyappp commented on #17
I would like to contribute to this issue...

[2018-10-03 10:51] #17 closed

[2018-10-03 10:52] sudz123 opened #42 "Home Page needs links to other pages in src"
Add these in an aesthetically pleasing manner.

[2018-10-03 10:56] #30 closed

[2018-10-03 10:57] sudz123 opened #43 "HomePage needs an about."

[2018-10-03 10:58] nibiru2O12 commented on #31
https://github.com/sudz123/Happy_Hacking/pull/44#issue-219994547

[2018-10-03 10:58] sudz123 opened #46 "Home.html needs a footer"

[2018-10-03 10:58] sudz123 opened #47 "Need a contact form in home.html"
My email : sudarshan.kamath97@gmail.com

[2018-10-03 11:00] prekshajagetiya123 commented on #43
Hey iIwould like to work on this issue!

[2018-10-03 11:00] parthpandyappp commented on #46
I would like to contribute to this issue.

[2018-10-03 11:00] prekshajagetiya123 commented on #43
Hey I would like to work on this issue!

[2018-10-03 11:03] sebastiaanspeck commented on #42
Il do it

[2018-10-03 11:06] sudz123 opened #48 "Need to update readme asking users to add their names to Contributors.md"

[2018-10-03 11:48] Maria218 commented on #47
I'd like to work on this. Can I install a framework like bootstrap?

[2018-10-03 14:14] #48 closed

[2018-10-03 15:43] #46 closed

[2018-10-03 15:48] sudz123 commented on #47
You can, you have all the freedom. Currently there is a very lame contact form, see what you can do with, remove it completely if necessary, Ill merge if it looks good.

[2018-10-03 15:49] sudz123 commented on #43
There is an about button, link it to a para on the page with a description about Hacktoberfest.

[2018-10-03 15:50] sudz123 opened #70 "Take a look at the page it looks horrific."
Make one change to one component in a PR not more please! It's difficult to review.

[2018-10-03 15:52] sudz123 commented on #70
You can make a separate file with lots of changes at a time, that is totally fine. But do not make changes to more than one components on existing pages.

[2018-10-03 16:59] #28 closed

[2018-10-03 16:59] leader112 commented on #6
@sudz123  can i contribute?

[2018-10-03 16:59] sudz123 opened #78 "Modifications to the Halloween Page required"

[2018-10-03 17:15] Kartikeya99 commented on #78
What type of modifications are required?

[2018-10-03 17:31] sudz123 commented on #78
Be creative, what can you add? Everything is welcome.

[2018-10-03 19:14] jChris85 commented on #78
I´ve added a small easter egg for the halloween page (kids friendly)

[2018-10-03 21:49] shariffnour commented on #43
Hello @sudz123 I'm working on this! :)

[2018-10-03 23:01] shariffnour commented on #43
#93

#93 Done. Please Review

[2018-10-04 05:54] sudz123 opened #98 "Cluttered code"
Since I am a horrible maintainer, I tend to merge a lot of PRs which also have unnecessary extra lines of code. How much extra code can you remove without changing the features we are offering?

[2018-10-04 05:55] sudz123 opened #99 "Comments"
Can you even understand what's going on? A lot of the code structure is unkept, unorganised. Can you help me out here?

[2018-10-04 05:57] #78 closed

[2018-10-04 06:22] sudz123 opened #101 "Need for PHP"
Can someone add some php here? Page looks too shallow. Any feature would do, make it small and crisp. (Also slightly sensible)

[2018-10-04 06:35] #47 closed

[2018-10-04 06:35] sudz123 opened #102 "Remove the extra contact form"

[2018-10-04 06:37] sudz123 opened #103 "Reposition Halloween page button on home.html"
It is out of place, can you style it and place it somewhere more visible?

[2018-10-04 06:52] manuelfs12 commented on #102
I'll be happy to try this.

[2018-10-04 06:53] sudz123 opened #105 "Add all the contributors name to the footer, including bamsarts."
But the footer should not be too huge. Not more than 4-5 names in one column.

[2018-10-04 06:54] sudz123 commented on #102
Submit a PR while tagging this issue.

[2018-10-04 06:54] d3vil0p3r commented on #102
@sudz123 can I take this?

[2018-10-04 07:01] d3vil0p3r commented on #103
@sudz123 I'm taking this 👍

[2018-10-04 07:07] #102 closed

[2018-10-04 07:17] d3vil0p3r commented on #103
@sudz123 checkout #111

[2018-10-04 07:18] sudz123 opened #112 "Need to rename and reposition directories."
-All images in one folder. Make sub-folders in this for each page. All links to those files updated with their new paths.
-Same with css files
-Same with javascript
-Any other ways you can structure it better?

[2018-10-04 07:29] jChris85 commented on #78
@sudz123 sure I can do that today.

[2018-10-04 07:33] adityatandon007 commented on #105
@sudz123 picking this up.

[2018-10-04 07:34] MuneebJS commented on #105
@sudz123  so, you are working on it right?

[2018-10-04 07:37] alangordon commented on #2
I have added a page for myself in #113

[2018-10-04 07:38] adityatandon007 commented on #105
Sending PR in a minute.

[2018-10-04 07:48] #2 closed

[2018-10-04 07:56] sudz123 opened #117 "Make the footer movable."
Currently it takes up 33% of the screen, is kinda irritating.

[2018-10-04 08:05] maliMirkec commented on #117
@sudz123 Could you provide more information? A screenshot maybe?

[2018-10-04 08:08] sudz123 commented on #117
Checkout the footer in GitHub.com is it always visible to you when you are scrolling? I want something like that.

[2018-10-04 08:09] maliMirkec commented on #117
@sudz123 I see. I could help you. 👍

Btw, this feature is commonly known as "sticky". 😉

[2018-10-04 08:15] maliMirkec commented on #117
@sudz123 Do you have instructions how to build the site locally?

[2018-10-04 08:34] sudz123 commented on #117
Read the readme carefully, it is pretty straightforward. Best of luck :P
On 04-Oct-2018 1:45 pm, "Silvestar Bistrović" <notifications@github.com>
wrote:

[2018-10-04 10:07] sarahperea commented on #112
I'll do this

[2018-10-04 10:14] agampreetsingh commented on #117
Fixed the issue. :)
PR #126

[2018-10-04 12:11] #117 closed

[2018-10-05 05:58] DillonSimeone commented on #103
I've came up with something pretty cool. You'll need to merge my pull requests, all of them, to get it working.

Pull requests:

#145 HTML edits
#146 JavaScript edits
#147 CSS edits
#148 New image, replace the file in this with the image linked in it or something alike.

[2018-10-05 15:03] sudz123 commented on #101
Firstly I need another folder which has all the php code. In that I want a readme explaining how PHP works. Create one page of your own, then link it to the home.html page through the contributors button. Once that done, give me some suggestions as to what we can add.

[2018-10-05 15:06] sudz123 opened #152 "Change our title please to something good."
Also change the title icon.

[2018-10-05 15:33] aayushbisen commented on #152
Ok.
Can we have a gh-pages branch?

[2018-10-05 15:40] sudz123 commented on #152
I will do that once all the basic bugs on the site are clear. We can start with that towards the end of October. Also not the right thread for this conversation.

[2018-10-05 15:42] FlamesRunner commented on #101
Sure, I'll have a crack at it and will get back to you.

[2018-10-05 17:59] FlamesRunner commented on #101
I've finished a basic description of PHP and a small tutorial, do have a look.

[2018-10-05 19:20] sudz123 opened #157 "Home.html Page needs a pop up."
I want a small initial pop with some image and a link to hacktoberfest on the home page, make it attractive yet not irritating.

[2018-10-05 19:36] sudz123 opened #158 "Need a spooky video on the Halloween page."

[2018-10-05 23:03] MinOvMat opened #160 "Links in banner over navigation bar"
The tags (links) seem to "go over" the nav bar. the styles/home.css file needs to be changed slightly.

[2018-10-06 04:52] #160 closed

[2018-10-06 04:53] #158 closed

[2018-10-06 04:57] sudz123 opened #165 "Home page needs blogs."
Above the contact form I want a panel where developers can add blogs about anything from open source to their personal experiences. These panels should link to a medium site or whatever site you prefer. The title, a picture and a description should be visible on the home page. Make sure it is in a container which expands as the number of blogs increases.

[2018-10-06 05:03] #152 closed

[2018-10-06 05:12] #105 closed

[2018-10-06 05:14] sudz123 opened #169 "Remove redundant contributors."
Above the `What is HacktoberFest` in the home page, there is a contributors section. You can see there is one in the footer too. I want only the one in the footer. Remove all the contributors from above and replace it by `Maintainers` . Put mine and Diptanshu's names there and remove our names form the footer.

[2018-10-06 05:18] sudz123 opened #170 "Add profile card."
Once Issue #169 is taken care of, I want profile cards for the maintainers. If you want you can also add these cards in your website. Here is a [link](https://www.w3schools.com/howto/howto_css_profile_card.asp).

This is one type, you can add anything you feel is better. If you can find a photo of me, very well. Otherwise leave that to me.

[2018-10-06 05:19] sudz123 opened #171 "Move bamsarts button to the footer with other contributors."
It looks out of place.

[2018-10-06 05:22] sudz123 opened #172 "Add the hacktoberfest teaser above the footer in the home page"
[Here](https://www.youtube.com/watch?v=wPlTQjOEPWo) is the link.

[2018-10-06 05:25] sudz123 opened #173 "Readme"
I realised that the instructions for HTML files have too big images. Secondly it would look better in a Readme in the src folder. Make the images smaller and add a readme to src after removing the main readme content. Also think of more readmes for scripts and styles folder. Can also contain info about css and javascript.

[2018-10-06 05:32] amrs-tech commented on #169
I couldn't find Diptanshu's name ?

[2018-10-06 06:54] sudz123 commented on #169
I'll add him later, his page is not linked to this repo I guess.

[2018-10-06 07:17] drex44 opened #179 "Live version of the website"
I couldn't find the live version of the website hosted anywhere.
It would be awesome to check the latest code somewhere live.

so it can be hosted somewhere on notify, surge or similar providers. they don't charge for static websites!

[2018-10-06 07:29] sudz123 commented on #179
Yup I agree, I was thinking of starting a gh-pages branch and hosting it on github. Will do it in a day's time. If you have any other better suggestions do let me know.

[2018-10-06 08:01] DillonSimeone commented on #103
#175 resolves this, on the styling font. Infinite scrolling Halloween button.

As for the placement... Hmm. Perhaps in the header along with the other nav buttons?

[2018-10-06 08:02] DillonSimeone commented on #70
#175 Fixes a big chuck of the nightmare.

The home.css file still need some more cleaning. There's strange stylings at the bottom that appears to be unused.

I might get to those strange stylings in a few hours.

[2018-10-06 08:07] DillonSimeone commented on #31
I think this was resolved by #150, and #49.

[2018-10-06 08:48] sudz123 opened #180 "Add video to sudz.html"
I want [this](https://www.youtube.com/watch?v=92C1QU4jr30) video added above the footer.

[2018-10-06 08:50] sudz123 opened #181 "Add buttons to sudz.html"
I want buttons which lead the user to my LinkedIn also back to home page. Such buttons are required for all pages.

[2018-10-06 09:01] JohJohan commented on #181
I will work on this

[2018-10-06 09:14] Rahul255 commented on #181
i will take this?

[2018-10-06 09:18] roony4 commented on #180
I will do this.

[2018-10-06 09:29] sudz123 commented on #181
Lots of buttons to add, lots of PRs to be made.

[2018-10-06 10:18] sudz123 opened #185 "ADD links to home page"
All HTML files need a link to the home page.

[2018-10-06 10:42] #31 closed

[2018-10-06 10:43] sudz123 commented on #6
Sure there are always files which need comments, codes which need descriptions. Take a look around, what part do you find difficult to understand? That part needs changes.

[2018-10-06 10:44] #43 closed

[2018-10-06 10:52] lancelot1337 commented on #185
What is the address of home page?

[2018-10-06 10:53] sudz123 commented on #185
home.html

[2018-10-06 10:54] divayg commented on #185
what all links need to be added and under what tag ?

[2018-10-06 10:57] sudz123 commented on #185
In a website there are many html pages. You can see that in src. Under the contributor's names there is a href to their own html pages.  But how does one come back? There are no home buttons on the other html pages. You need to add these. Visit the individual contributors pages and add these buttons. While you are at it make your own page and link it to the home page. MAKE SEPARATE PRs for this.

[2018-10-06 11:00] speedytechdev commented on #185
Hi @sudz123 I am new and I am a bit lost. How do I see what the website looks like (website url). Sorry if this the wrong place to ask I am not sure were to ask.

[2018-10-06 11:06] sudz123 commented on #185
No problem, this repository is meant to clear all doubts new contributors have. If you haven't already then read the README.md. Once that is done you should have an idea of the git hub work flow. If you have any doubt in that take a look at [this](egghead.io/lessons/javascript-how-to-fork-and-clone-a-github-repository).
Once you have the code locally, all html files can be opened with the help of

[2018-10-06 11:34] speedytechdev commented on #172
@sudz123 Do you want the video to autoplay?

[2018-10-06 12:30] lancelot1337 commented on #185
I hope this issue can be closed now.

[2018-10-06 13:37] lmeikle commented on #171
Pull request submitted https://github.com/sudz123/Happy_Hacking/pull/209

[2018-10-06 15:01] sudz123 commented on #185
Not nearly, the home button is far from aesthetic and placed arbitrarily.

[2018-10-06 15:13] sudz123 opened #212 "Need better front end"
I need one major aesthetic change to the front end of home.html hopefully by a UI designer. I will merge the best PR and his/her name will go in the **Hall of Fame** on this repository. I need a teaser video on home.html as given by #172 . Also I need to remove the contributors names from top of the #About and only keep it in the footer. All links should be proper. I need space for blogs as given

[2018-10-06 15:29] sudz123 commented on #212
@sarahperea @bigseaadam @DillonSimeone @alangordon  Do take a look if you are interested. You guys have contributed quite a bit.

[2018-10-06 16:17] jenniferkaplannyc commented on #212
I might be able to help. Can you provide a URL so I can see how it looks now?

[2018-10-06 16:34] bhefty commented on #173
I'd like to take this one. To clarify, you are looking to move the "How to run the HTML page" content of the current README into a separate README located in the src folder, while keeping the remaining README content in the root directory?

[2018-10-06 16:38] sudz123 commented on #173
Yup more or less. Also try to change the size of the images and make it a bit smaller. Another thing, can I do something similar for telling users how css and javascript works? You can submit 3 PRs for these.

[2018-10-06 16:39] bhefty commented on #173
Sure, I'll get to work on these!

[2018-10-07 07:02] sudz123 commented on #185
Currently it is floating in the middle of no where in a lot of pages. I do not have a specific design in mind nor a specific location. It is upto you and also will differ page to page. See where and how it would look good. Also ake a look at the comments I made in your last PRs.

[2018-10-07 07:08] #169 closed

[2018-10-07 07:44] Apoorva-13 commented on #170
hi can i work on this??

[2018-10-07 07:46] sudz123 commented on #170
Sure, you can either add to the home page by changing the maintainers buttons to cards. Info is on linkedin(see contributors.md) or you can add to sudz.html

[2018-10-07 07:48] Apoorva-13 commented on #179
can i work on this , i am new to this . i know how to deploy  a static website on heroku but would need help to understand gh-pages or netlify?

[2018-10-07 07:51] sudz123 commented on #179
Don't take up this issue. This one is for the maintainers. You will require a higher level of access to the code for this.

[2018-10-07 08:19] Apoorva-13 commented on #170
![image](https://user-images.githubusercontent.com/31508100/46579904-bb593d80-ca37-11e8-8c67-5c235e97035f.png)
i need to replace this with a card right?

[2018-10-07 11:09] sarahperea commented on #212
Hi @sudz123 , I would love to give it a try! I'll try to fix some issues as well. Thanks! :)

[2018-10-07 11:33] lancelot1337 commented on #185
The links are not placed arbitrarily, I thought of placing the links uniformly, therefore I placed all the links in the bottom left of the page.
Those pages which already had a footer have the link placed in that footer.
Should I put the links in the footer of all pages? (This would mean creating a footer for those pages as well which uses a solid color background, as in alan.html)
Please specify

[2018-10-07 17:31] sudz123 commented on #185
@lancelot1337 footers sound great do add it. This is a repo where you guys have a lot of freedom. Imagine I wanted to create an extensive website. How should my pages look? How are my current pages looking. Most of them except home.html barely qualify as a page. Lots of PRs to make. Also you can add your own page too if you haven't already

[2018-10-08 08:53] sudz123 commented on #212
@sarahperea Here are a few more tiny changes if you are interested:
- Change Images from beaches to something hacktoberfesty
- Remove the small gap between contact form and footer
- Get the next and prev button working
- Add a "designed by Sarah" in the footer or the header, wherever you think it fits
Once these are done I will release a github live website

[2018-10-08 09:02] KBoohene commented on #165
I would like to work on this

[2018-10-08 10:17] sudz123 commented on #165
Sure, but the page is almost complete so make sure it goes well with the rest of the page and the design doesn't look bad. Select a few good blogs about open source and hacktoberfest. Add a container which will hold these blogs. Put it above the contact form. Make sure each blogs are in individual sub-containers and also the Title is visible, the links are working and a small image would do too.

[2018-10-08 11:37] abisummers opened #235 "Links on menu-bar don't link anywhere"
on menu-bar.html there are <a> tags but the links don't work

[2018-10-08 12:50] sudz123 commented on #235
I think someone had made the menu bar but it then all the code was shifted to src. Maybe you can move this and the other code files which are outside. However I don't think there is anyway we can reach this page through home.html

[2018-10-08 14:27] abisummers commented on #235
@sudz123  I've moved everything into the src file. Is there a need for the menu-bar.html? It seems that everything there is already included on the home page. The youtube video also doesn't appear to work on the menu-bar page

[2018-10-08 14:31] sudz123 commented on #235
Maybe you can put this to good use and add a page of your own, use the code in the menu bar.html and add a link in the footer of home.html to your own html page? This repo is for beginners and so there is a lot of redundant code indeed.

[2018-10-08 14:32] amrtaher1234 opened #237 "ADD This site to Github pages and add a link"

[2018-10-08 14:49] abisummers opened #239 "Buttons on home page"
When you click the next button on the home page (src/home.html), the picture changes (after the second click) but makes all other pictures disappear. When you click the previous button, nothing happens. On the home.js `getElementById("img")` is used in the displayNextImage function but I think that should be different since img is never used as a ID.

I'm going to try and fix them if I have time,

[2018-10-08 15:00] drex44 commented on #179
@sudz123 using netlify is pretty easy and will take only 10 minutes to set up. I have done it in my repos. It automatically deploys whenever new commit comes. I think you should do this one as soon as possible. it will be a big help for new contributors and will give motivation to existing contributors as they can see their work live!

P.S. I got inspired with your repo. Nice job.

[2018-10-08 15:10] sudz123 commented on #239
I have referenced this in #212 . Do take a look at this and the other issues I have addressed there. I am soon going to lock the appearance of the front end in home.html, these are the last remaining changes I want. What would be great is that next button and prev button fast-forward the scrolling in the respective directions.

[2018-10-08 15:11] abisummers commented on #235
Yeah, I understand it's for beginners, which is one of the many reasons I love hacktoberfest (and specifically this project🎉). I had no intentions of deleting the file, but it's good to know that it can be changed and that it's open for anyone to add their own twist on it.

However, I do think the css (menu-bar.css) is pretty hard  to follow for beginners, so maybe it's worth removing some of it t

[2018-10-08 15:13] sudz123 commented on #179
Thanks @drex44 , the whole idea is to bring up new programmers to the open source community and get them started. I will be doing this, but when I do, I will be sharing this in a much broader community to show how this was achieved. I can only share this when I am satisfied with the site. Waiting on #212 , the moment this is closed, I will make the site go live.

[2018-10-08 15:13] sudz123 commented on #237
#179 already on this. Closing this one.

[2018-10-08 15:13] #237 closed

[2018-10-08 16:30] KBoohene commented on #165
Should developers also be able to add any blogs they have written to this container?  If so it would mean storing their basic blog details somewhere. I was thinking of using a JSON file to store the basic information to be collected.

[2018-10-08 18:20] sudz123 commented on #165
Sure, whatever you are comfortable with. Try it and submit a PR and we will have something more solid to discuss about. There are no hard and fast rules. If this gets difficult you can also and pre-existing medium blog links with a good front end as I mentioned before.

[2018-10-09 08:58] sarahperea commented on #212
Hi @sudz123 , I made PRs for my fixes on:
- Change Images from beaches to something hacktoberfesty
- Remove the small gap between contact form and footer
- Get the next and prev button working (new design)
- Add a "designed by Sarah" in the footer
- moved the Halloween Page button in the header nav
- added 'Watch Teaser'  button in the header nav

Hope you like it! :) You can tag me if more change

[2018-10-09 11:18] sudz123 commented on #239
This has been fixed lately. Closing this.

[2018-10-09 11:18] #239 closed

[2018-10-09 11:54] sudz123 commented on #179
I am having trouble using both gh-pages and netlify since our site is not to be built from the root directory. Do you know how this is done? We have multiple static pages to be hosted.

[2018-10-09 11:56] KBoohene commented on #165
Hi, I was working on the project today and just hit a snag. I realized that there is no way to save data to a local machine via a client application only server side. Since the website is purely client based, I'm stuck on how to save the new blog post data. Any ideas?

[2018-10-09 12:01] sudz123 commented on #165
Server Linking can be done, however I don't think this website is the right one for it. How about just stick to client side and link pre-hosted blogs from websites like medium? Since the design has been almost finalised I would say your front-end would be given more importance than your back-end.

[2018-10-09 12:41] drex44 commented on #179
I haven't set up local dev env for this repo so give sometime. I will check it out and update you on how to configure it.

[2018-10-09 13:48] drex44 commented on #179
@sudz123 you have to keep the index.html file in the root of the repo or docs/ folder. currently, you have home.html. you have to rename it. then you can use gh-pages.
I tried and tested it. it works just fine.

[2018-10-09 13:56] sudz123 commented on #179
@drex44 This is one way. I am also trying to find if it is possible to keep the same structure and build the site without renaming anything. Maybe add a script in root which will redirect to home.html in src. If this is not possible I will do what you are suggesting. Do you know of any such functionality which github provides? Otherwise I will have to hard code a script maybe.

[2018-10-10 10:07] drex44 commented on #179
if you don't want to change anything then try using heroku with express.js to serve static sites. this will require you to add server.js file and forward requests coming to home.html from index.html.

[2018-10-11 12:17] YaminiPanta commented on #180
I am willing to do this..

[2018-10-11 12:28] sudz123 commented on #180
Sure go ahead :)

[2018-10-11 13:01] YaminiPanta commented on #180
<!DOCTYPE html>
<html>
<title>My Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="style/style.css" type="text/css" rel="stylesheet" />
<body>

    <div class="w3-top">
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">
            <a href="#home"

[2018-10-11 13:33] YaminiPanta commented on #180
#249

[2018-10-11 14:32] sudz123 commented on #212
@sarahperea As I promised, check the footer of the main README :)

[2018-10-11 14:32] #212 closed

[2018-10-12 02:45] sarahperea commented on #212
Thank you @sudz123 , really made my day! :D <3

[2018-10-12 10:00] vjs3 opened #251 "Excess spacing between the contact section and the footer (in mobile, tablet mode)"
There is excessive spacing in multiple sections of the website when we see it in the mobile more or any other size besides the desktop mode. I would like to start by fixing the contact section and then move on to other sections. I am attaching the image for better understanding.

Let me know if I can work on it :)
<img width="304" alt="screen shot 2018-10-12 at 11 56 20 am" src="https://user-image

[2018-10-12 12:04] sudz123 commented on #251
Sure have a go, tell me your method too :)

[2018-10-13 06:45] #251 closed

[2018-10-13 06:47] sudz123 commented on #251
I think this has been reesolved, do let me know if it isnt

[2018-10-13 06:49] #170 closed

[2018-10-13 14:33] vjs3 commented on #251
@sudz123 I checked it just now and it still exists for the contact section, its fixed for the video section.

[2018-10-13 14:54] vjs3 commented on #251
If you will have a look at #257 it actually fixes the issue :)

[2018-10-13 14:57] vjs3 opened #258 "Cleaning up the CSS and proper indentation"
The CSS files have an improper indentation and some bad practices. I would love to fix it starting with home.css. Later on, we can make a style guideline as well to have a consistent behavior throughout the files.
Give me a heads-up if that's ok?

[2018-10-14 04:45] sudz123 commented on #258
Sure have a go :)

[2018-10-14 05:37] mathagician commented on #172
@sudz123 please close the issues that are resolved. That is a good practice and shall prevent precious time of users.

[2018-10-14 06:10] sudz123 commented on #172
@speedytechdev Yes autoplay sounds great.

[2018-10-14 06:10] #172 closed

[2018-10-14 06:12] #6 closed

[2018-10-14 06:12] #171 closed

[2018-10-14 06:12] #103 closed

[2018-10-14 06:13] #70 closed

[2018-10-14 06:13] #42 closed

[2018-10-14 06:13] #112 closed

[2018-10-14 11:32] dharmadev108 commented on #258
I'd be willing to give a hand: is that ok?

[2018-10-14 13:10] vjs3 commented on #258
@dharmadev108 I have already started working on it. I think you can make more changes once I submit the initial PR :)

[2018-10-14 14:12] vjs3 commented on #258
@sudz123 have a look at #263 :)

[2018-10-14 15:33] vjs3 commented on #258
I have submitted the PR, once its merged have a look at some of the changes and if you want you can add them in the CSS guideline :)

[2018-10-14 15:33] dharmadev108 commented on #99
I could try to help (github newbie here) :)

[2018-10-14 16:28] #258 closed

[2018-10-14 16:44] vjs3 opened #264 "Spacing issue with contribution section and carousel"
There are some more issues in the spacing in the home page. I am working on resolving those issues. Will send the PR soon.

[2018-10-14 17:36] vjs3 commented on #264
Submitted PR at #265
@diptanshu-sopho have a look!

[2018-10-14 17:51] #264 closed

[2018-10-14 17:58] vjs3 opened #266 "Changing the language in Readme"
Hey @sudz123 and @diptanshu-sopho

I wanted to discuss the current language of the README. Since the project is big and a lot of people are contributing to it, it will be great to have a nice tone to the readme specially loads of folks are new to open source :)
https://github.com/sudz123/Happy_Hacking#bookmark-important-bookmark

Here instead of "styles I want all the css files in this folder with

[2018-10-14 18:19] diptanshu-sopho commented on #266
Your suggestion is good. @sudz123 will also agree. So, if you want to do these changes, go ahead.

[2018-10-14 18:20] vjs3 commented on #266
@diptanshu-sopho cool. I will do the changes and will send the PR for the same.

[2018-10-15 04:57] #266 closed

[2018-10-20 08:53] sudz123 opened #334 "Edit README"
Some of the markdown comments haven't been done properly. There is a random UPDATE on line 14.
Also there is a whitecheck_mark which has not been implemented properly above the hacktoberfest stats link.

[2018-10-20 09:00] egakupi commented on #334
Hi, I would like to try on this.

[2018-10-20 09:08] egakupi commented on #334
:))))

[2018-10-20 13:11] opheliagame commented on #185
hey @sudz123 what do you mean by our own pages, as in what would you expect in a page like that? Should it contain Hacktoberfest related information or anything under the sun?

[2018-10-20 17:04] #334 closed

[2018-10-21 04:54] sudz123 commented on #185
No it doesn't have to be anything specific. You can go to `home.html` and go to the footer to the contributors links to their own pages and checkout for yourself.

[2018-10-21 04:56] #173 closed

[2018-10-21 05:15] sudz123 opened #349 "Move the halloween icon to images"
Also change the corresponding links

[2018-10-21 07:00] adamxtokyo commented on #349
I call dibs on this issue 😄 Will fix it right away!

[2018-10-21 08:00] adamxtokyo commented on #349
Just wanted to give some feedback after clearing the issue;

Because the instructions are inconsistent (readme says images go in ./img/, while file structure implies they should go in ./src/images/), different contributors are doing different things. This has lead to a messy code base and might be worth looking into.

Other than that, I want to say thanks to @sudz123 👏🙏😌
It's fun to get started wi

[2018-10-22 14:57] ishanisri opened #369 "header modification"
the header links get underlined when clicked, which will be removed

[2018-10-22 17:38] ishanisri commented on #369
Sorry, but I made a pull request for this already

[2018-10-22 18:36] sudz123 opened #375 "Move the witch move function in halloween.html"
Move the code to the corresponding javascript file.

[2018-10-22 18:54] masihtamsoy commented on #375
Hi, this my first hacktoberfest. Want to try this out.

[2018-10-22 18:56] sudz123 commented on #375
Sure have a go

[2018-10-22 18:56] sudz123 commented on #369
#373 #368

[2018-10-22 18:57] sudz123 commented on #369
I think one of the header links still has this issue.

[2018-10-22 19:01] ishanisri commented on #369
Yes, I think the issue is with "about"...I couldn't find anything specific to work it out, but I will keep working on that issue

[2018-10-23 05:41] sarthak1995 commented on #369
I have solved the issue, can I make a pull request?

[2018-10-23 06:46] ishanisri commented on #369
Sure :). What was the problem?

[2018-10-23 11:50] #375 closed

[2018-10-23 11:53] sudz123 commented on #369
Closing this as it is solved in #388. Whenever you submit a PR try to reference it to the issue you are solving.

[2018-10-23 11:53] #369 closed

[2018-10-23 11:54] sudz123 opened #397 "Move all images to src/images"
Also change the corresponding links

[2018-10-23 11:56] sarthak1995 commented on #369
@ishanisri  Header link was continue to in focus after click

@sudz123 This was my first contribution so i wasn't aware of it. I will take care of it next time. Thanks!

[2018-10-23 12:04] ishanisri commented on #369
@sarthak1995 Thanks 😁

[2018-10-23 12:36] GomuGilad6 commented on #397
https://github.com/sudz123/Happy_Hacking/pull/401

[2018-10-23 12:38] sudz123 commented on #397
Great work!

[2018-10-23 12:38] #397 closed

[2018-10-23 13:48] adamxtokyo commented on #349
Ok, so it seems like @vidban pushed a commit fixing the issue and @diptanshu-sopho merged it while my commit was still in code review. Not cool guys... I posted here saying I'd take care of it and I spent a fair amount of my own time doing so ☹️

[2018-10-23 16:12] MarkKrutik opened #406 "Web Developer tools say that there are malformed data, whitespaces and missing semicolons in home.html."
I would like to file this issue and create a PR for it.

[2018-10-23 18:17] sudz123 opened #410 "Modify witch animation on halloween page"
The witch sinks below the current container holding it(visually). I want her to sink into the container boundary.

[2018-10-24 00:05] Orrison commented on #406
Hey @sudz123, I'll go ahead and take a crack at improving home.html

[2018-10-24 06:19] sarthak1995 opened #423 "Happy_Hacking... label not vertically aligned in header."
Happy_Halloween label is not vertically aligned in header. I would like to work on the same.

[2018-10-24 07:39] sudz123 commented on #349
@adamxtokyo Apologies for this, please refer to my comments in #352 . This is bound to keep happening if you work on easy issues. I would suggest add your own personal page and add features to it. That way it would make both our lives easier.

[2018-10-24 07:39] #349 closed

[2018-10-24 07:45] #410 closed

[2018-10-24 07:45] sudz123 commented on #423
Sure

[2018-10-24 08:46] sarthak1995 commented on #423
@sudz123 I am having difficulty in syncing my forked repo with your original repo. Can you help me with the issue?

[2018-10-24 08:58] sudz123 commented on #423
Once you have forked the repo, make sure you make any new changes on a new branch only. After forking the repo, always do a `git pull` to make sure your local repo is updated with the upstream master. In case there are any conflicts on the branch in which you are making changes do a `git rebase master`. In case you have made changes to your master by mistake do a `git reset --hard`. Checkout the e

[2018-10-24 10:42] sarthak1995 commented on #423
@sudz123 The issue has already been fixed I guess. Please review it once and close the issue.

[2018-10-24 10:43] #423 closed

[2018-10-24 13:09] diptanshu-sopho opened #431 "Fix Link in README.md"
Fix the link for "Functionality with php" link in  the "Additional Resources" section of the README.

[2018-10-24 13:22] RoyJia commented on #431
@diptanshu-sopho please help to merge - https://github.com/sudz123/Happy_Hacking/pull/432

[2018-10-24 13:30] #431 closed

[2018-10-24 13:34] sudz123 opened #434 "Add full screen option to video on Halloween page"

[2018-10-24 13:52] srivastavarnav commented on #434
Hi, would like to take a shot on this. Can you give me some more details about the task?

[2018-10-24 13:54] sudz123 commented on #434
The halloween page video does not provide fullscreen options(atleast it is so in Chrome). You need to make sure it does.

[2018-10-24 14:37] vishnuk007 commented on #434
#436

[2018-10-24 17:32] #434 closed

[2018-10-25 06:30] Malvikabhalla99 commented on #180
Hii is this issue still open ? I would like to take up this issue if it is still open

[2018-10-25 12:34] yawningpaws commented on #78
Hello, I have added a navigation bar to the Halloween page #455

[2018-10-25 14:40] Malvikabhalla99 commented on #78
Hii, I would like to add some more things in halloween page

[2018-10-25 16:31] sudz123 opened #463 "Add trick or treat section to menubar in Halloween.html"

[2018-10-25 16:36] sudz123 opened #464 "Add link to advanced project"
This repository is for beginners, for users who want to explore some advanced projects, we have another repository [Optimizer](https://github.com/sudz123/Optimizer)
Add a **small section** after the about and before the important in the README.md asking users looking for more challenging tasks to checkout that repo and add the link too.

[2018-10-25 17:12] #464 closed

[2018-10-26 13:33] #463 closed

[2018-10-27 10:24] sudz123 opened #502 "Restore hover effect for images in Halloween.html"
Some PR must have removed the zoom effect for images. The code is still there somewhere.

[2018-10-27 11:12] AlithAnar commented on #502
Will take this

[2018-10-28 09:39] #502 closed

[2018-10-28 10:06] sudz123 opened #526 "Remove small bounding box on the witch in Halloween.html"

[2018-10-28 11:06] kaushikpraveen commented on #526
Hey, I have fixed this issue.
Please find my PR here- https://github.com/sudz123/Happy_Hacking/pull/530

[2018-10-28 13:38] Bumsquest commented on #157
Where do you want the link to redirect to? I can take this.

[2018-10-28 16:07] axecopfire commented on #406
I couldn't find any errors in chrome dev tools.

[2018-10-28 20:47] vinnyA3 opened #545 "[bug] style overrides"
### Description:
The current stylesheet import order is causing style overrides.  For example:  the bootstrap stylesheet is overriding the the font styling in stylesheet `styles1.css`.

### Solution:
Reorganize the stylesheet import order as such:
[code]
The re-ordering would apply the original `styles1.css` author's intended font for both headers and paragraph elements.  The outcome would appear

[2018-10-29 09:07] sudz123 commented on #526
Good work!

[2018-10-29 09:07] #526 closed

[2018-10-30 16:29] guido97 commented on #545
fix the override in pull request #590

[2018-10-31 12:34] NeoAnoman commented on #78
Hello, I have added a custom cursor to Halloween page. #604

[2018-10-31 18:01] NeoAnoman commented on #185
I added a home page link at halloween.html #610

[2019-10-03 22:03] JanviMahajan14 commented on #165
Hey @sudz123 I am new in open source. Can I  take this up as my first issue?

[2020-10-02 18:04] johnemurphy1 commented on #99
Was this issue resolved? If not, I'll take it and work on it.

[2020-10-26 18:34] vijaykrishna536 commented on #78
Hi @sudz123
I have made the countdown timer for Halloween dynamic for all the years. PR #628

[2021-10-01 08:04] therohit777 commented on #78
Hi @sudz123
I have made a Special Magic Spells section merge it .PR #629

[2021-10-02 11:17] manishreddy6305 commented on #235
I would like to work on this issue. Can you assign this task to me ?

[2021-10-02 11:19] manishreddy6305 commented on #181
I would like to work on this . Can you assign this task to me ?

[2021-10-05 06:53] SujayBanage commented on #181
heyy i would like to work on this issue, can you assign this issue to me ??

[2022-03-07 01:25] 1kenzo opened #630 "Hello"
Hello

[2022-03-07 01:26] 1kenzo commented on #630
Merhaba

[2022-10-05 17:22] Veeno-Rai commented on #180
@sudz123 i  want to  work on this project want to resolve this isssue .Request you to kindly assign this to me.